body {
    transition: 200ms ease;
    background-size: cover;
    width: 100vw;
    height: 100vh;


}
.jd-border{
    border: dotted lightblue 2px;
    width: 100%;
    height: 100%;
}
.jd-header{
    font-family: monospace;
    font-size: 3em;
    animation: color-change 1s infinite;
}
@keyframes color-change {
    0% { color: mediumpurple; }
    25% { color: purple; }
    50% { color: rebeccapurple; }
    75% { color: blueviolet; }
    100% { color: blue; }
}