body {
    margin: 0;
    padding: 0;
    background-color: #cfe2ff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.icons{
    margin-left: 15px;
    width: 60px;
    height: 60px;
}
#map{
    margin: 40px 0px;
    height: 400px;
    width: 696px;
}